.black { color: #111; }
.color-primary-0 { color: #2B4970; }
.color-primary-1 { background-color: #748BA7; }
.color-primary-2 { color: #4C688B; }
.color-primary-3 { color: #143054; }
.color-primary-4 { color: #051B38; }